<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/smartagro</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">postgres</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>
        <mapping class="entidade.Estado"/>
        <mapping class="entidade.Cidade"/>
        <mapping class="entidade.Endereco"/>
        <mapping class="entidade.Fornecedor"/>
        <mapping class="entidade.Formapagamento"/>
        <mapping class="entidade.Unidademedida"/>
        <mapping class="entidade.Produto"/>
        <mapping class="entidade.Colaborador"/>
        <mapping class="entidade.Cliente"/>
        <mapping class="auditoria.CustomRevisionEntity"/>
        <mapping class="auditoria.FormapagamentoAud"/>
        <mapping class="auditoria.CustomRevInfo"/>
   
    
        <listener class="org.hibernate.envers.event.AuditEventListener" type="post-insert" /> 
        <listener class="org.hibernate.envers.event.AuditEventListener" type="post-update" />
        <listener class="org.hibernate.envers.event.AuditEventListener" type="post-delete" /> 
        <listener class="org.hibernate.envers.event.AuditEventListener" type="pre-collection-update" /> 
        <listener class="org.hibernate.envers.event.AuditEventListener" type="pre-collection-remove" /> 
        <listener class="org.hibernate.envers.event.AuditEventListener" type="post-collection-recreate" /> 
    
    </session-factory>
</hibernate-configuration>
