<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n
            </pattern>
        </encoder>
    </appender>
    
    
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>csi-event.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>csi-event.log.%d{yyyy-MM-dd HH:mm:ss.SSS}</FileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS},%msg%n</pattern>
        </encoder>
    </appender>
    -->
    
    <appender name="DB" class="ch.qos.logback.classic.db.DBAppender">
        <connectionSource class="ch.qos.logback.core.db.DriverManagerConnectionSource">
            <driverClass>org.postgresql.Driver</driverClass>
            <url>jdbc:postgresql://localhost:5432/smartagro</url>
            <user>postgres</user>
            <password>postgres</password>
        </connectionSource>
    </appender>

    <!-- the level of the root level is set to DEBUG by default. -->
    <root level="DEBUG">
        <!--  
        <appender-ref ref="stdout" />
        <appender-ref ref="file" /> 
        -->
        <appender-ref ref="DB" />
    </root>
</configuration>